<%= form_with model: tool do |form| %>
  <% if form.object.errors.any? %>
    <p class="error"><% form.object.errors.full_messages.first %></p>
  <% end %>
  
  <div class="field">
    <%= form.label :name %>
    <div class="">
      <%= form.text_field :name, class: "" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :brand %>
    <div class="">
      <%= form.text_field :brand, class: "" %>
    </div>
  </div>
  
  <div class="field">
    <%= form.label :desc %>
    <div class="">
      <%= form.text_field :desc, class: ""  %>
    </div>
  </div>
  
  <div class="field row mb-3">
    <%= form.label :photo, class: "col-2 col-form-label" %>
    <div class="col-4">
      <%= form.file_field :photo, accept: "image/png, image/jpeg", class: "form-control"  %>
    </div>
  </div>

  <div class="mb-3">
    <%= form.submit "Save", class: "btn btn-outline-light" %>
  </div>
<% end %>