<%= form_with model: tool do |form| %>
  <% if form.object.errors.any? %>
    <p class="error"><% form.object.errors.full_messages.first %></p>
  <% end %>
  
  <div class="field row mb-3">
    <%= form.label :name, class: "col-2 col-form-label" %>
    <div class="col-3">
      <%= form.text_field :name, class: "form-control" %>
    </div>
  </div>

  <div class="field row mb-3">
    <%= form.label :brand, class: "col-2 col-form-label" %>
    <div class="col-3">
      <%= form.text_field :brand, class: "form-control" %>
    </div>
  </div>
  
  <div class="field row mb-3">
    <%= form.label :desc, class: "col-2 col-form-label" %>
    <div class="col-3">
      <%= form.text_field :desc, class: "form-control"  %>
    </div>
  </div>
  
  <div class="mb-3">
    <%= form.submit "Save", class: "btn btn-outline-light" %>
  </div>
<% end %>