<div class="row align-items-center justify-content-between mb-3">
  <h1 class="col-6"><%= @tool.name %></h1>
  <%= link_to "Back", :back, class: "col-1 btn btn-outline-light" %>
</div>

<% if current_user.id != @tool.user_id %>
<div class="row mb-3">
  <div class="col-3">Owner</div>
  <div class="col-3"><%= @tool.user.name %></div>
</div>
<% end %>

<div class="row mb-3">
  <div class="col-3">Brand</div>
  <div class="col-3"><%= @tool.brand %></div>
</div>

<div class="row mb-3">
  <div class="col-3">Description</div>
  <div class="col-3"><%= @tool.desc || 'No description provided' %></div>
</div>

<div class="row mb-3">
  <div class="col-1">
    <%= link_to "Edit", edit_tool_path(@tool.id), class: "btn btn-outline-light" %>
  </div>
  <div class="col-1">
    <%= button_to "Delete", @tool, class: "btn btn-outline-light", method: :delete, data: { turbo_confirm: "Are you sure?" } %>
  </div>
</div>
