<div class="row align-items-center justify-content-between mb-3" data-turbo="false">
  <h1 class="col-4"><%= current_user.name %></h2>
  <%= link_to 'Edit', edit_user_registration_path, class: "col-1 btn btn-outline-light" %>
</div>
<div class="row mb-3">
  <div class="col-4"><%= current_user.username %></div>
</div>
<div class="row mb-3">
  <div class="col-4"><%= current_user.email %></div>
</div>
<div class="row mb-3">
  <div class="col-4"><%= current_user.latlng || "No location" %></div>
</div>
<div class="row mb-3">
  <div class="col-4">
    You have <%= current_user.tools.size %> <a href="/tools">tools</a>
  </div>
</div>
<div class="row align-items-center mb-3">
  <div class="col-5">
    There are <%= current_user.total_neighbours %> total users on the platform, <%= current_user.nearby_users.size %> of which are nearby and sharing <%= current_user.nearby_tools.size %> tools!
  </div>
  <%= link_to 'Tools', nearby_path, class: "col-1 btn btn-outline-light" %>
</div>