<h2>Nearby Tools</h2>
<%= link_to "Back", user_path %>

<% @tools.each do |tool| %>
  <div class="">
    <div class="">
      <%= tool.name %>
    </div>
    <div class="">
      <%= tool.brand %>
    </div>
    <div class="">
      <%= tool.user.name %>
    </div>
    <div class="">
      <%= link_to "View", tool_path(tool.id) %>
    </div>
  </div>
<% end %>