<h2>Your Tools</h2>
<%= link_to "Back", user_path %>

<% current_user.tools.each do |tool| %>
  <div class="">
    <div class="">
      <!-- <%= [tool.name, tool.brand].join(', ') %> -->
      <%= tool.name %>
    </div>
    <div class="">
      <%= link_to "View", tool_path(tool.id) %>
    </div>
    <% if tool.photo.attached? %>
    <div class="col-2">
      <%= image_tag(tool.photo.variant(:thumb), size: "100") %>
    </div>
    <% end %>
  </div>
<% end %>
<%= link_to "Add", new_tool_path %>