<% content_for :head do %>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
  <script>
    let map;
    let popup = L.popup();
    let latlngField;
    document.addEventListener('DOMContentLoaded', () => {
      map = L.map('map').setView([43.6529148, -79.3853107], 11.5);
      latlngField = document.querySelector('#user_latlng');

      L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
      }).addTo(map);
      map.on('click', onMapClick);
    });
    function parseLatlng(number) {
      return number.toFixed(4);
    }
    function onMapClick(event) {
      popup
        .setLatLng(event.latlng)
        .setContent("Your location")
        .openOn(map);
      let location = [event.latlng.lat, event.latlng.lng].map(parseLatlng);
      latlngField.value = location.join(', ');
    }
  </script>
<% end %>

<div class="row align-items-center justify-content-between mb-3">
  <h1 class="col-4">Sign Up</h1>
  <%= link_to 'Back', "/about", class: "col-1 btn btn-outline-light" %>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field row mb-3">
    <%= f.label :username, class: "col-2 col-form-label" %>
    <div class="col-3">
      <%= f.text_field :username, class: "form-control", autofocus: true, autocomplete: "username" %>
    </div>
  </div>

  <div class="field row mb-3">
    <%= f.label :name, class: "col-2 col-form-label" %>
    <div class="col-3">
      <%= f.text_field :name, class: "form-control", autofocus: true, autocomplete: "name" %>
    </div>
  </div>

  <div class="field row mb-3">
    <%= f.label :email, class: "col-2 col-form-label" %>
    <div class="col-3">
      <%= f.email_field :email, class: "form-control",  autofocus: true, autocomplete: "email" %>
    </div>
  </div>

  <div class="field row mb-3">
    <%= f.label :password, class: "col-2 col-form-label" %>
    <div class="col-3">
      <%= f.password_field :password, class: "form-control", autocomplete: "new-password" %>
      <!--
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      -->
    </div>
  </div>

  <div class="field row mb-3">
    <%= f.label :password_confirmation, class: "col-2 col-form-label" %>
    <div class="col-3">
      <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %>
    </div>
  </div>

  <div class="field row mb-3">
    <%= f.label :latlng, class: "col-2 col-form-label" %>
    <div class="col-3">
      <%= f.text_field :latlng, class: "form-control" %>
    </div>
  </div>
  <div class="mb-3" style="height: 180px; width: 360px" id="map"></div>

  <div class="actions mb-3">
    <%= f.submit "Sign up", class: "btn btn-outline-light" %>
  </div>
<% end %>
